html.movitone-mode {
  --primary: #13573fff;
  --secondary: #248563ff;
  --secondary-hover: #35bd8dff;
  --secondary-opacity-half: #35bd8d8a;
  --secondary-hover-opacity: #35bd8d47;
  --secondary-disabled: #19382dff;
  --titlebar: #104a36ff;
  --backdrop: #13573fff;
  --scroll: #0b3023ff;
  --logo: #ffffffff;
  --left: #1e825eff;
  --left-queue: #1e825eff;
  --left-icons: #ffffff;
  --navigation: #062408ff;
  --navigation-text: #ffffff;
  --navigation-select: #baffea59;
  --border: #13573f00;
  --player: #13573fff;
  --player-darker: #0f4532ff;
  --player-slider: #1f996eff;
  --player-slider-progress: #ffffffff;
  --text: #ffffff;
  --small-text: #ffffffff;
  --song-performer: #ffffffff;
  --song-title: #ffffffff;
  --song-subtitle: #ffffffff;
  --song-playing: #13573fff;
  --song-hover: #35bd8dff;
  --item: #12664eff;
  --item-hover: #1c664bff;
  --item-disabled: #113d2dff;
  --field: #1b5e47ff;
  --icons: #c4c4c4ff;
  --icons-hover: #ffffffff;
  --icons-disabled: #8c8c8cff;
  --no-cover: #ffffffff;
  --no-cover-background: #13573fff;
  --links: #929292;
  --links-active: #ffffff;
  --links-hover: #ffffff;
  --buttons-text: #ffffff;
  --tooltip: #2baf78ff;
  --tooltip-text: #ffffff;
  --settings-view: #13573fff;
  --switch-unchecked: #292929ff;
  --skeleton-background: #0b3325ff;
  --skeleton-highlight: #0c3828ff
}
/* White color for plaing song name */
.song.playing .song-index-number,.song.playing .song-name-container-title-label {
    color: #ffffff!important;
}
